.App {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-self: center;
  background-color: rgb(216, 223, 188);
  align-items: center;
}

.information input {
  width: 300px;
  height: 26px;
  /* font-size: 20px; */
  padding-left: 10px;
  margin: 5px;
}

.information button {
  width: 320px;
  height: 50px;
  margin-top: 15px;
}

.information button:hover {
  cursor: pointer;
}

.employees {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* width: 320px; */
  /* height: 50px; */
  margin-top: 15px;
  background-color:rgb(195 227 212);
}

.employeeMap {
  /* width: 70%; */
  /* height:250; */
  border: 1px solid black;
  /* display: flex; */
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,
    /* font-family: 'Courier New', Courier, monospace; */
}

.employeeMap h2 {
  margin: 10px;
  background-color: rgb(201, 198, 198)
}